
@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&family=La+Belle+Aurore&display=swap');

:root{
    --amareloLuz: #e3b505;
    --castanhoEscuro: #BB9457;
    --amarelo:#f2b450;
    --castanho: #382923;
    --preto:#191919;
    --cinza:#A9B2AC;


}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(rgba(255,255,255,0.85),rgba(255,255,255,0.85)),url('bodyBcg.jpeg');
    color: var(--black);
    color: var(--preto);
    font-family: 'Open Sans', sans-serif;

}

.la-belle-aurore-regular {
    font-family: "La Belle Aurore", cursive;
    font-weight: 400;
    font-style: normal;
  }


  /* section paddin */
  .section-padding{
    padding: 3rem 0;

  }
  .section-title--left{
    margin-left:10rem ;
  }

  .grid-container{
    max-width: 90vw;
    margin: 2rem auto;
    display: grid;
  }




  .header{ 
    height: 100vh;
    display: grid;
    grid-template-columns: 80%;
    justify-content: center;
    align-items: center;
    position: relative;
    



  }


  @media screen and (max-width: 768px){
    .work-item{
      margin-top: 1rem;
    }
    .section-title--left {
      text-align: center;
      margin: .5rem 0;
    }
   
    
  .header{ 
    background: linear-gradient(rgba(0 0 0 / 20%), rgba(0 0 0 / 20%)), url('img2.jpg');
    background-position: center;
    background-size: cover;
    /* background-attachment: fixed; */
    background-repeat: no-repeat;
  }

  
  .vertical_div{
    display: none!important;
  }

  .banner{
    text-align: center;
    z-index: 3;

  }
  .banner_social_icons{       
    
    color: var(--castanho)!important;
    text-decoration: none;
    transition: all 0.5s linear;
    text-align: center;
    font-size: 1.5rem;

  }

  .banner_title{
    font-size: 4rem;
    text-transform: capitalize;
    color: var(--amareloLuz);
    



}
.video-switch-container{
    display: none;

}

.about-container{
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto 1fr;
  grid-gap: 2rem;
}

.about_img-item{
  width: 100%;
  display: block;
  height: 100%;
  border-radius: 0.25rem;

}

.section-title__name {
  font-size: 2rem ;
  text-transform: capitalize;
  font-family: "La Belle Aurore", cursive;

  
}

}

  


  @media screen and (min-width:768px) {
    
    .banner_title{
        font-size: 9rem;
        
      }
      .banner_title{
        text-align: center;
      
        text-transform: capitalize;
        color: var(--amareloLuz);
    
    
    
    }

      .banner_social_icons{       
        display: block;
        text-decoration: none;
        color: var(--amareloLuz);
        border: 0.1rem solid var(--amareloLuz);
        border-radius: 50%;
        padding: 0.25rem;
        transition: all 0.5s linear;
        text-align: center;

      }

      .banner_social_icons:hover{
       background-color: var(--amareloLuz);
       color: var(--preto);



      }
      .banner_icons{
        width: 50%;        
        margin: 0 auto;
        display: grid;
        grid-template-columns: 2rem 2rem 2rem 2rem;
        justify-content: center;
        grid-column-gap: 0.5rem;
       

      }
      .video-switch-container{
        display: block;
        position: absolute;
        z-index: 10;
        bottom: 5%;
        right: 5%;
        color: white;
    
    }

     
    .about-container{
      display: flex;
     justify-content: space-between;
     align-items: center;
      grid-gap: 4rem;
    }

         

  }

  .video_container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;

  }

  .video__item{
    width: 100%;
    height: 100%;
   object-fit:cover;
  }

  .vertical_div{
    display: flex;
    align-items: center;
    color: var(--amareloLuz);
    position: absolute;
    right: 0%;
    top: 50%;
    gap: 24px;
  
  
    rotate: 90deg;
   
  }
  .vertical_img{
    width: 80px;
    animation: bounce 1.6s infinite cubic-bezier(0.445, 0.05, 0.55, 0.95);
    cursor: pointer;
  }
 @keyframes bounce{
  0%{
    translate: 0 0;

  }
  50%{
    translate: -15px 0 ;

  }
 }
/* navbar  */

.navBar{
    position: fixed;
    top: 5%;
    right: 5%;
    font-size: 3.5rem;
    color: var(--amarelo);
    cursor: pointer;
    animation-name: pulse;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    z-index: 999;

}
/* nav animations */
@keyframes pulse{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.5);
    }
    100%{
        transform: scale(1);
    }
}


.nav{
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgba(242, 180, 80, 0.825);
    height: 100%;
    width: 10rem;
    z-index: 3;

}

.nav__single-link{
    display: block;
    text-align: none;
    text-transform: capitalize;
    color: var(--castanho) ;
    font-size: 1.5rem;
    padding: 0.5rem 1rem;
    text-decoration: none;
    transition: all 0.5s ease-in-out;




}

.nav__single-link:hover{
    background: var(--castanho);   
    color: rgba(242, 180, 80, 0.825);
    padding-left: 1.5rem ;



}
/*  */
.nav{
    width: 0;
    overflow: hidden;
    transition: all 0.5s linear;
}

.nav-show{
    width: 10rem;
}
/* video switch */


.video_switch{
    position: relative;
    width: 5rem;
    background: var(--amarelo);
    text-transform: uppercase;
    cursor: pointer;
    color: var(--castanho);
    display: flex;
    justify-content: space-between;
    border-radius: 8px;
    padding-right: 5px;
    padding-left: 5px;
}

.video_switch-btn{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 50%;
    background-color: var(--castanho);
    border-radius: 8px;
    transition: all 1s ease-out;



}

.btnSlide{
   
    left: 50%;

}

/* About */

.about_img-item{
  width: 100%;  
  display: block;

  
}


@media screen and (min-width:768px){
  .section-padding{
    padding: 3rem 0;

  }

  .grid-container{
    max-width: 90vw;
    margin: 2rem auto;
    display: grid;
   
  }

  .section-title__name {
    font-size: 3rem ;
    text-transform: capitalize;
    font-family: "La Belle Aurore", cursive;
    
  }

  .section-title_underline{
    background: var(--amarelo);
    width: 5rem;
    height: 0.25rem;

  }
  .section-title__text{
    letter-spacing: 0.1rem;
    line-height: 1.5rem;
    margin-top: 1rem;
    color: var(--cinza);
  }

  .about-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;  
    align-items: center; 
    grid-gap: 4rem;
  }
  .about__img-special{
    order: -1;
  }



}


/* drink section */

.drink {
  background-color: var(--castanho);
  color: var(--amareloLuz);
  text-transform: capitalize;
}


.drink-form,.drink-card{
  text-align: center;
  display: grid;
  grid-template-columns: 70%;
  justify-content: center;
  grid-row-gap: 1.25rem;

}

.drink-form_feedback{
  border: 0.1rem solid var(--amareloLuz);
  display: none;
}

.error{
  display: block;
  color: red;
  border-color: red;
}

.success{
  display: block;
  color: green;
  border-color: green;
}

.drink-form_title,.drink-card__title{
  font-size: 3rem;
}

.input-name,.input-lastname,.input-email{
  width: 100%;

}

.input-name,.input-lastname,.input-email, .input-submit{
  font-size: 1rem;
  border-radius: 0.5rem;
  padding: 0.25rem 0.5rem;
  background-color: rgba(111, 87, 77, 0.6);
  color: var(--amarelo);
  border: none;
  outline: none;
}

.input-name::placeholder,.input-lastname::placeholder,.input-email::placeholder{
  color: var(--amarelo);
  text-transform: capitalize;
}

.input-submit{
  background-color: var(--amarelo);
  color: var(--preto);
  transition: all 0.5s linear;
  cursor: pointer;
  text-transform: uppercase;

}

.input-submit:hover{
  opacity: 0.8;


}

.drink-card__list{
  display: grid;
  grid-template-columns: 100%;
 
  gap: 4rem;

}

.person{
  display: grid;
  grid-template-columns: auto auto 1fr;
  height: 70px;
  align-items: center;
  text-align: left;
  text-align: left;
  gap: 1rem;
  border: 0.1rem solid rgba(111, 87, 77, 0.6);
  border-radius: 0.5rem;
  font-size: 1.5rem;
 
}

.img_drink{
  width: 50px;
  height: 50px;
  border-radius: 50%;
}


@media  screen and (min-width:768px) {
  .drink-card__list{
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    
  
  }

  
}

/* Work section */

.work-container{
  max-width: 90vw;
  margin: 2rem auto;


}
.work-item__img{
  width: 100%;
  height: 100%;
  display: block;
  transition: all 1s linear;
  opacity: 1;
  object-fit:cover;
  
  
  
}

.work-item{
  background: linear-gradient(var(--amarelo), var(--amarelo));
  overflow: hidden;
  position: relative;
}
.work-item__icon{
  position: absolute;
  color: var(--amareloLuz);
  font-weight: bold;
  font-size: 4rem;
  top: 50%;
  left: 50%;
  display: inline-block;
  text-decoration: none;
  transition: all 0.5s ease;
  transform: scale(0);
 
}

.work-item:hover .work-item__img{
  opacity: 0.5;
  transform: scale(1.2);

}

.work-item:hover .work-item__icon{

  transform: scale(1.3) translate(-50%,-50%);
 
 
 
}
.work-item__icon:hover{
  color: var(--castanho);
  cursor: pointer;
}

@media screen and (min-width:578px){

  .work-container{
    display: grid;
   grid-template-columns: 1fr 1fr;
   gap: 1rem;
  
  
  }
}

@media (min-width:992px){
  .work-container{
    height: 100vh;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(4,1fr);
    grid-template-areas: "one one two three"
                        "one one four four "
                        "five six seven seven"
                        "eight nine seven seven ";
   
  
  
  }
  .item-1{
    grid-area: one;
  }
  .item-2{
    grid-area: two ;
   
  }
  .item-3{
    grid-area:  three;
   
  }
  .item-4{
    grid-area:four;
   
  }
  .item-5{
    grid-area: five;
   
  }
  .item-6{
    grid-area: six ;
  }
  .item-7{
    grid-area:seven;
   
  }
  .item-8{
    grid-area: eight;
   
  }


}

/* modal  */

.work-modal{
  display: none;

}


.work-modal--show{
  position: fixed;
  background: rgba(0, 0, 0, 0.499);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 999;
  display: grid;
  justify-content: center;
  align-items: center;
}

.work-modal__item{
  background: url('work-1.jpg')center/cover;
  height: 70vh;
  width: 80vw;
  border-radius: 0.4rem;
  border: 0.5rem solid var(--amarelo);
}

@media screen and (min-width:768px) {
  .work-modal__item{
    background: url('work-1.jpg')center/cover;
    height: 80vh;
    width: 60vw;
   
  }

  
}

.work-modal_close{
  position: fixed;
  font-size: 3rem;
  color: var(--amareloLuz);
  bottom: 5%;
  right: 5%;
  transition: color 0.5s linear;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;

}
.work-modal_close:hover{
  color: red;

}


.contact-container {
  margin: 0px auto;
  max-width: 90vw;
  display: grid;
  grid-row-gap: 1rem;

}

.contact-info{
  display: grid;
  justify-content: center;

}

.contact-item{
  margin:1rem 0 ;
  padding: 0.5rem;
}


.contact-item__icon{
 font-size: 3rem;
 color: var(--amarelo);
}

.contact-item__title{
  text-transform: uppercase;
  margin: 0.5rem 0;
  letter-spacing: 0.25rem;
  font-style: italic;
  
 }

 .contact-item__text{
  font-size: 1rem;
  text-transform: uppercase;
  color: var(--cinza);
 }

 @media screen and (min-width:768px) {
  .contact-info{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    order: -1;
  }
  

  
}



@media screen and (min-width:992px) {
  .contact-container {
    grid-template-columns: 2fr 1fr;
   align-items: center;
   gap: 2rem;
  
  }
  
  .contact-info{
    display: grid;
    grid-template-columns: 1fr;
    order: 0;
  }
  

  
}
